div.person {
	width: 50%;
	margin: 1rem auto;
	background: #6b5959;
	box-shadow: 0 2px 3px #ccc;
	padding: 1rem;
	text-align: center;
	
	display: block;
	
}
.pointer{
	cursor: pointer;
}
@media (min-width:500px){
	.person{
		width: 500px;
	}
}